
h2 {

    
    font-family: 'Tajawal', serif;
    font-size: 26px;
    font-weight: 600;
    
  }
  
  .innerFrame{
    margin-top: 100px;
   
    margin-right: 150px;
    margin-left: 80px;
  }
  th{
    font-family: 'Tajawal', serif;
    font-size: 15px;
  }